@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: all ease-in-out 0.4s;
}


.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
  height: 12px !important;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
